In [1]:
import pandas as pd

In [2]:
data="C:/Users/user/Desktop/uva.txt"

In [3]:
dataframe = pd.read_table(data)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [4]:
dataframe[:5]

,who,Newbie,Age,Gender,Household Income,Sexual Preference,Country,Education Attainment,Major Occupation,Marital Status,Years on Internet
0,id74364,0,54.0,Male,$50-74,Gay male,Ontario,Some College,Computer,Other,4-6 yr
1,id84505,0,39.0,Female,Over $100,Heterosexual,Sweden,Professional,Other,Other,1-3 yr
2,id84509,1,49.0,Female,$40-49,Heterosexual,Washington,Some College,Management,Other,Under 6 mo
3,id87028,1,22.0,Female,$40-49,Heterosexual,Florida,Some College,Computer,Married,6-12 mo
4,id76087,0,20.0,Male,$30-39,Bisexual,New Jersey,Some College,Education,Single,1-3 yr

In [5]:
dataframe.shape

(19583, 11)

In [6]:
# type이 다 object로 string형태
# 이를 다 변환해줘야 데이터 처리하기 쉬워짐.

dataframe.dtypes

who                      object
Newbie                    int64
Age                     float64
Gender                   object
Household Income         object
Sexual Preference        object
Country                  object
Education Attainment     object
Major Occupation         object
Marital Status           object
Years on Internet        object
dtype: object

In [7]:
dataframe['Marital Status'].unique()

array(['Other', 'Married', 'Single', 'Divorced', 'Widowed', nan,
       'Separated'], dtype=object)

In [8]:
# who 컬럼 삭제
# who 컬럼 삭제된거 확인
dataframe.pop('who')
dataframe.dtypes

Newbie                    int64
Age                     float64
Gender                   object
Household Income         object
Sexual Preference        object
Country                  object
Education Attainment     object
Major Occupation         object
Marital Status           object
Years on Internet        object
dtype: object

In [9]:
dataframe.pop('Country')
dataframe.dtypes

Newbie                    int64
Age                     float64
Gender                   object
Household Income         object
Sexual Preference        object
Education Attainment     object
Major Occupation         object
Marital Status           object
Years on Internet        object
dtype: object

In [10]:
dataframe.pop('Years on Internet')
dataframe.dtypes

Newbie                    int64
Age                     float64
Gender                   object
Household Income         object
Sexual Preference        object
Education Attainment     object
Major Occupation         object
Marital Status           object
dtype: object

In [12]:
# gender 칼럼의 데이터 타입을 category형태로 변경
# astype이용해서
dataframe['Gender'] = dataframe['Gender'].astype('category')
dataframe.dtypes

Newbie                     int64
Age                      float64
Gender                  category
Household Income          object
Sexual Preference         object
Education Attainment      object
Major Occupation          object
Marital Status            object
dtype: object

In [13]:
# 모든 칼럼을 for문 이용해 category 형태로 변경
for col in ['Household Income','Sexual Preference','Education Attainment','Major Occupation','Marital Status']:
    dataframe[col] = dataframe[col].astype('category')
dataframe.dtypes

Newbie                     int64
Age                      float64
Gender                  category
Household Income        category
Sexual Preference       category
Education Attainment    category
Major Occupation        category
Marital Status          category
dtype: object

In [14]:
dataframe.head()

,Newbie,Age,Gender,Household Income,Sexual Preference,Education Attainment,Major Occupation,Marital Status
0,0,54.0,Male,$50-74,Gay male,Some College,Computer,Other
1,0,39.0,Female,Over $100,Heterosexual,Professional,Other,Other
2,1,49.0,Female,$40-49,Heterosexual,Some College,Management,Other
3,1,22.0,Female,$40-49,Heterosexual,Some College,Computer,Married
4,0,20.0,Male,$30-39,Bisexual,Some College,Education,Single

In [16]:
# get_dummies이용해 category데이터를 수치데이터로 변경
dataframe_modified = pd.get_dummies(dataframe)
dataframe_modified[:5]

,Newbie,Age,Gender_Female,Gender_Male,Household Income_$10-19,Household Income_$20-29,Household Income_$30-39,Household Income_$40-49,Household Income_$50-74,Household Income_$75-99,...,Major Occupation_Education,Major Occupation_Management,Major Occupation_Other,Major Occupation_Professional,Marital Status_Divorced,Marital Status_Married,Marital Status_Other,Marital Status_Separated,Marital Status_Single,Marital Status_Widowed
0,0,54.0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,0,39.0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,1,49.0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
3,1,22.0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,20.0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [18]:
dataframe_modified.dtypes

Newbie                                 int64
Age                                  float64
Gender_Female                          uint8
Gender_Male                            uint8
Household Income_$10-19                uint8
Household Income_$20-29                uint8
Household Income_$30-39                uint8
Household Income_$40-49                uint8
Household Income_$50-74                uint8
Household Income_$75-99                uint8
Household Income_Over $100             uint8
Household Income_Under $10             uint8
Sexual Preference_Bisexual             uint8
Sexual Preference_Gay male             uint8
Sexual Preference_Heterosexual         uint8
Sexual Preference_Lesbian              uint8
Sexual Preference_Transgender          uint8
Sexual Preference_na                   uint8
Education Attainment_College           uint8
Education Attainment_Doctoral          uint8
Education Attainment_Grammar           uint8
Education Attainment_High School       uint8
Education Attainment_Masters           uint8
Education Attainment_Other             uint8
Education Attainment_Professional      uint8
Education Attainment_Some College      uint8
Education Attainment_Special           uint8
Major Occupation_Computer              uint8
Major Occupation_Education             uint8
Major Occupation_Management            uint8
Major Occupation_Other                 uint8
Major Occupation_Professional          uint8
Marital Status_Divorced                uint8
Marital Status_Married                 uint8
Marital Status_Other                   uint8
Marital Status_Separated               uint8
Marital Status_Single                  uint8
Marital Status_Widowed                 uint8
dtype: object

In [19]:
# string형태의 데이터의 형태를 변경해줘도 shape은 변함 업음.
dataframe_modified.shape

(19583, 38)

In [22]:
# Age 컬럼에 null값 많음을 확인

dataframe_modified.isnull().sum()

Newbie                                 0
Age                                  561
Gender_Female                          0
Gender_Male                            0
Household Income_$10-19                0
Household Income_$20-29                0
Household Income_$30-39                0
Household Income_$40-49                0
Household Income_$50-74                0
Household Income_$75-99                0
Household Income_Over $100             0
Household Income_Under $10             0
Sexual Preference_Bisexual             0
Sexual Preference_Gay male             0
Sexual Preference_Heterosexual         0
Sexual Preference_Lesbian              0
Sexual Preference_Transgender          0
Sexual Preference_na                   0
Education Attainment_College           0
Education Attainment_Doctoral          0
Education Attainment_Grammar           0
Education Attainment_High School       0
Education Attainment_Masters           0
Education Attainment_Other             0
Education Attainment_Professional      0
Education Attainment_Some College      0
Education Attainment_Special           0
Major Occupation_Computer              0
Major Occupation_Education             0
Major Occupation_Management            0
Major Occupation_Other                 0
Major Occupation_Professional          0
Marital Status_Divorced                0
Marital Status_Married                 0
Marital Status_Other                   0
Marital Status_Separated               0
Marital Status_Single                  0
Marital Status_Widowed                 0
dtype: int64

In [23]:
pd.isnull(dataframe_modified['Age']).head()

0    False
1    False
2    False
3    False
4    False
Name: Age, dtype: bool

In [24]:
# age가 nan인 값들을 dataframe으로 출력
dataframe_modified[pd.isnull(dataframe_modified['Age'])].head()

,Newbie,Age,Gender_Female,Gender_Male,Household Income_$10-19,Household Income_$20-29,Household Income_$30-39,Household Income_$40-49,Household Income_$50-74,Household Income_$75-99,...,Major Occupation_Education,Major Occupation_Management,Major Occupation_Other,Major Occupation_Professional,Marital Status_Divorced,Marital Status_Married,Marital Status_Other,Marital Status_Separated,Marital Status_Single,Marital Status_Widowed
42,0,NaN,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
98,0,NaN,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
160,0,NaN,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
227,1,NaN,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
278,0,NaN,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [27]:
dataframe_modified[pd.isnull(dataframe_modified['Age'])].head().index

Int64Index([42, 98, 160, 227, 278], dtype='int64')

In [26]:
# nan값들 중 상위 5중 index만 출력
dataframe_modified.loc[pd.isnull(dataframe_modified['Age'])].head().index

Int64Index([42, 98, 160, 227, 278], dtype='int64')

In [34]:
# Age 에서 nan값인 데이터를 Age의 평균값으로 채운다.
dataframe_modified.loc[pd.isnull(dataframe_modified['Age']), "Age"] = \
                                             dataframe_modified['Age'].mean()

In [37]:
dataframe_modified['Age'][pd.isnull(dataframe_modified['Age'])]

Series([], Name: Age, dtype: float64)

In [38]:
dataframe_modified.head()

,Newbie,Age,Gender_Female,Gender_Male,Household Income_$10-19,Household Income_$20-29,Household Income_$30-39,Household Income_$40-49,Household Income_$50-74,Household Income_$75-99,...,Major Occupation_Education,Major Occupation_Management,Major Occupation_Other,Major Occupation_Professional,Marital Status_Divorced,Marital Status_Married,Marital Status_Other,Marital Status_Separated,Marital Status_Single,Marital Status_Widowed
0,0,54.0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,0,39.0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,1,49.0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
3,1,22.0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,20.0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [39]:
dataframe_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19583 entries, 0 to 19582
Data columns (total 38 columns):
Newbie                               19583 non-null int64
Age                                  19583 non-null float64
Gender_Female                        19583 non-null uint8
Gender_Male                          19583 non-null uint8
Household Income_$10-19              19583 non-null uint8
Household Income_$20-29              19583 non-null uint8
Household Income_$30-39              19583 non-null uint8
Household Income_$40-49              19583 non-null uint8
Household Income_$50-74              19583 non-null uint8
Household Income_$75-99              19583 non-null uint8
Household Income_Over $100           19583 non-null uint8
Household Income_Under $10           19583 non-null uint8
Sexual Preference_Bisexual           19583 non-null uint8
Sexual Preference_Gay male           19583 non-null uint8
Sexual Preference_Heterosexual       19583 non-null uint8
Sexual Preference_Lesbian            19583 non-null uint8
Sexual Preference_Transgender        19583 non-null uint8
Sexual Preference_na                 19583 non-null uint8
Education Attainment_College         19583 non-null uint8
Education Attainment_Doctoral        19583 non-null uint8
Education Attainment_Grammar         19583 non-null uint8
Education Attainment_High School     19583 non-null uint8
Education Attainment_Masters         19583 non-null uint8
Education Attainment_Other           19583 non-null uint8
Education Attainment_Professional    19583 non-null uint8
Education Attainment_Some College    19583 non-null uint8
Education Attainment_Special         19583 non-null uint8
Major Occupation_Computer            19583 non-null uint8
Major Occupation_Education           19583 non-null uint8
Major Occupation_Management          19583 non-null uint8
Major Occupation_Other               19583 non-null uint8
Major Occupation_Professional        19583 non-null uint8
Marital Status_Divorced              19583 non-null uint8
Marital Status_Married               19583 non-null uint8
Marital Status_Other                 19583 non-null uint8
Marital Status_Separated             19583 non-null uint8
Marital Status_Single                19583 non-null uint8
Marital Status_Widowed               19583 non-null uint8
dtypes: float64(1), int64(1), uint8(36)
memory usage: 994.5 KB

In [42]:
dataframe_modified['Age'] = dataframe_modified['Age'].astype('int') 
dataframe_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19583 entries, 0 to 19582
Data columns (total 38 columns):
Newbie                               19583 non-null int64
Age                                  19583 non-null int32
Gender_Female                        19583 non-null uint8
Gender_Male                          19583 non-null uint8
Household Income_$10-19              19583 non-null uint8
Household Income_$20-29              19583 non-null uint8
Household Income_$30-39              19583 non-null uint8
Household Income_$40-49              19583 non-null uint8
Household Income_$50-74              19583 non-null uint8
Household Income_$75-99              19583 non-null uint8
Household Income_Over $100           19583 non-null uint8
Household Income_Under $10           19583 non-null uint8
Sexual Preference_Bisexual           19583 non-null uint8
Sexual Preference_Gay male           19583 non-null uint8
Sexual Preference_Heterosexual       19583 non-null uint8
Sexual Preference_Lesbian            19583 non-null uint8
Sexual Preference_Transgender        19583 non-null uint8
Sexual Preference_na                 19583 non-null uint8
Education Attainment_College         19583 non-null uint8
Education Attainment_Doctoral        19583 non-null uint8
Education Attainment_Grammar         19583 non-null uint8
Education Attainment_High School     19583 non-null uint8
Education Attainment_Masters         19583 non-null uint8
Education Attainment_Other           19583 non-null uint8
Education Attainment_Professional    19583 non-null uint8
Education Attainment_Some College    19583 non-null uint8
Education Attainment_Special         19583 non-null uint8
Major Occupation_Computer            19583 non-null uint8
Major Occupation_Education           19583 non-null uint8
Major Occupation_Management          19583 non-null uint8
Major Occupation_Other               19583 non-null uint8
Major Occupation_Professional        19583 non-null uint8
Marital Status_Divorced              19583 non-null uint8
Marital Status_Married               19583 non-null uint8
Marital Status_Other                 19583 non-null uint8
Marital Status_Separated             19583 non-null uint8
Marital Status_Single                19583 non-null uint8
Marital Status_Widowed               19583 non-null uint8
dtypes: int32(1), int64(1), uint8(36)
memory usage: 918.0 KB

In [43]:
x_data = dataframe_modified.iloc[:,1:].as_matrix()
y_data = dataframe_modified.iloc[:,0].as_matrix().reshape(-1,1)
y_data.shape, x_data.shape

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

((19583, 1), (19583, 37))

In [44]:
# 데이터 스케일링
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

In [45]:
x_data = min_max_scaler.fit_transform(x_data)
x_data[:5]

C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.65333333, 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        ],
       [0.45333333, 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        ],
       [0.58666667, 1.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        ],
       [0.22666667, 1.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.2       , 0.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        ]])

In [48]:
import numpy as np
training_idx = np.random.randint(y_data.shape[0], size=int(y_data.shape[0] * 0.8)) 
test_idx = np.random.randint(y_data.shape[0], size=int(y_data.shape[0] * 0.2))

In [49]:
x_training, x_test = x_data[training_idx,:], x_data[test_idx,:]
y_training, y_test = y_data[training_idx,:], y_data[test_idx,:]

In [51]:
x_training.shape, x_test.shape

((15666, 37), (3916, 37))

In [52]:
from sklearn import linear_model, datasets
# 객체생성, 학습
logreg = linear_model.LogisticRegression(fit_intercept=True) 
logreg.fit(x_training, y_training.flatten())

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [53]:
# 예측
logreg.predict(x_test[:10])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [55]:
# predict_proba 확률 값으로 뽑아줌.
logreg.predict_proba(x_test[:10])

array([[0.89543871, 0.10456129],
       [0.67297503, 0.32702497],
       [0.8774942 , 0.1225058 ],
       [0.91910859, 0.08089141],
       [0.93207215, 0.06792785],
       [0.73177448, 0.26822552],
       [0.71828325, 0.28171675],
       [0.82373743, 0.17626257],
       [0.54884371, 0.45115629],
       [0.59716113, 0.40283887]])

In [56]:
# shape변함
x_test.shape, y_test.shape

((3916, 37), (3916, 1))

In [57]:
# flatten은 평평하게 1행 행렬 만들기
logreg.predict(x_test) == y_test.flatten()

array([ True, False,  True, ...,  True,  True, False])

In [58]:
sum(logreg.predict(x_test) == y_test.flatten()) / len(y_test)

0.758682328907048

In [59]:
logreg.predict_proba(x_test[:10])

array([[0.89543871, 0.10456129],
       [0.67297503, 0.32702497],
       [0.8774942 , 0.1225058 ],
       [0.91910859, 0.08089141],
       [0.93207215, 0.06792785],
       [0.73177448, 0.26822552],
       [0.71828325, 0.28171675],
       [0.82373743, 0.17626257],
       [0.54884371, 0.45115629],
       [0.59716113, 0.40283887]])

In [60]:
logreg.decision_function(x_test[:10])

array([-2.14754038, -0.72167169, -1.96891199, -2.43029664, -2.61896412,
       -1.00364424, -0.93596184, -1.54187707, -0.19599991, -0.39365032])

In [61]:
logreg.predict(x_test[:10])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)