## Dictionary_Tuple_Set

### Tuple

In [18]:
myTuple = ("tuple", (1, 2, 3), [4, 5, 6])


# 'tuple'을 출력하시오
print(myTuple[0])
# 3을 출력하세요
print(myTuple[1][2])
# 4,5를 출력하세요
print(myTuple[2][:2])
#print(myTuple[2][:2].myTuple[0][:2][1])
# 4를 출력하세요
print(myTuple[2][0])
# (1, 2, 3)을 출력하세요
print(myTuple[1])

tuple
3
[4, 5]
4
(1, 2, 3)

In [19]:
my_tuple = (1, 2, 3, 3, 2, 1)
your_tuple = (4, 5, 6)

# 튜플 연산

# our_tuple과 your_tuple을 연결하세요 
print(my_tuple+your_tuple)
# mytuple을 3번 반복하세요
print(my_tuple*3)
# mytuple에 3이 있는지 확인하세요
print(3 in my_tuple)
# mytuple에 5가 있는지 확인하세요
print(5 in my_tuple)
# mytuple에서 1의 갯수를 출력하세요
print(my_tuple.count(1))
# mytuple에서 index 2자리의 값을 출력하세요
print(my_tuple.index(2))

(1, 2, 3, 3, 2, 1, 4, 5, 6)
(1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1)
True
False
2
1

In [23]:
t_float = (120.09, 9.11, 2.8)
L_int = [1, 2, 3]

import numpy as np #numpy아직 안배웠지만 불러와 사용

# t_float의 길이를 출력하세요
print(len(t_float))
# t_float의 최대값을 출력하세요
print(max(t_float))
# t_float의 최소값을 출력하세요
print(min(t_float))
# t_float의 합을 출력하세요.
print(sum(t_float))
# t_float의 평균을 출력하세요.
print(np.mean(t_float))
# t_float를 오름차순 정렬하세요
print(sorted(t_float))

3
120.09
2.8
132.0
44.0
[2.8, 9.11, 120.09]

### Set

In [26]:

# my_set이라는 빈 집합을 만들고 타입을 출력하세요..
my_set = set()
type(my_set)

#my_set={} type(my_set) 하면 dict출력 사전 만들어짐

set

In [35]:
# 'sky'와 'sea'를 요소로 하는 set을 만드세요
my_set={'sky','sea' }
# 'earth' 요소를 추가하세요
my_set.add('earth')
# ('1', '2') 요소를 추가하세요
my_set.add(('1', '2'))
print (my_set)
# 무작위로 요소 하나를 삭제하세요
my_set.pop()
print (my_set)

{'earth', ('1', '2'), 'sky', 'sea'}
{('1', '2'), 'sky', 'sea'}

In [40]:
s_planet = {'수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성'}
print(s_planet)
print()

# '금성' 을 삭제하세요
s_planet.discard('금성')
s_planet.remove('천왕성')
print (s_planet)
# 위와 다른 함수를 사용해서 '천왕성'을 삭제하세요
# 모든 항목을 지우세요
s_planet.clear()

{'수성', '지구', '목성', '토성', '화성', '금성', '천왕성', '해왕성'}

{'수성', '지구', '목성', '토성', '화성', '해왕성'}

In [42]:
A = {1, 2, 3, 4, 5, 6}
B = {1, 2, 3, 7, 8, 9}

# 합집합을 구하세요
print(A.union(B))
# 교집합을 구하세요
print(A.intersection(B))
# 차집합을 구하세요
print(A.difference(B))
# 대칭차집합을 구하세요
print(A.symmetric_difference(B))

# 부분집합
# {4, 5, 6}가 A의 부분집합인지 확인하세요
print({4,5,6}.issubset(B))
# A가 {4, 5, 6}을 포함하닌지 확인하세요
print(A.issuperset({4,5,6}))
A.issuperset(C)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{4, 5, 6}
{4, 5, 6, 7, 8, 9}
False
True

True

In [44]:
s_float = {1.0, 3.0, 2.0, 10.0}
print(s_float)
print()

# s_float의 길이를 구하세요
print(len(s_float))
# s_float를 올림차순 정렬하세요???
print(sorted(s_float))
# s_float에 2.0이 포함되는지 확인하세요
print(2.0 in s_float)

{10.0, 1.0, 2.0, 3.0}

4
[1.0, 2.0, 3.0, 10.0]
True

### Dictionary

In [46]:
solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
solardict = {}

# 아래와 같이 출력되도록 코딩하세요.
# for문을 사용하세요.
# {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', 
#  '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

for i in range(len(solar1)):
    solardict[solar1[i]]=solar2[i]
print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [48]:
#enumerate : numberign 해주는 함수
for i, v in enumerate(solar1):
    #print(i,v)
    solardict[v]=solar2[i]
    
print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [50]:
#zip : 두개의 sequent값을 같은 위치에 묶어 출력
# numbering 없이 묶어줌
for x,y in zip(solar1, solar2):
    #print(x,y)
    solardict[x]=y
    
print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [52]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# Aimy의 value를 10000으로 수정하세요
names['Aimy']=10000
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 10000, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

In [59]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# 'Sams'를 삭제하세요
del names['Sams']
print(names)
# value 값들의 합을 구하세요
print(sum(names.values()))
# value 값들의 최대값을 구하세요
print(max(names.values()))
# key값들을 출력하세요
print(names.keys())
# value값들을 출력하세요
print(names.values())
# 모든 요소를 삭제하세요
names.clear()
print(names)

{'Mary': 10999, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
81879
27115
dict_keys(['Mary', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly'])
dict_values([10999, 9778, 20245, 27115, 5887, 7855])
{}

In [63]:
###### 안배운 함수, 입력 이런식을 받아서 변수에 저장
k = input('이름을 입력하세요: ')
print(k)
#k=int(k)
type(k)

이름을 입력하세요: 55
55

str

In [10]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
#k = input('이름을 입력하세요: ')

# 이름을 입력받고, 이름의 value값을 출력하도록 코딩하세요
# 이름이 없으면, 값 oooo으로 names에 추가하시오.

name=input('이름을 입력하시요 :')

#1번째 방법
#if name in names:
#    print(names[name])
#else :
#    names[name]=0000
#    print(names)

#2번째 방법, 있으면 값 return 없으면 값 추가
names.setdefault(name, '0000')

이름을 입력하시요 :byeon

'0000'

In [25]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# key를 기준으로 올림차순 정렬하세요
#sorted(names.items())

#value를 중심으로 정렬하시오.
sorted(names.items(), key=lambda x:x[1])

[('Sams', 2111),
 ('Bob', 5887),
 ('Kelly', 7855),
 ('Aimy', 9778),
 ('Mary', 10999),
 ('Tom', 20245),
 ('Michale', 27115)]

In [24]:
my_idol = {"name": "쯔위", "age": 18, "job": "singer"}

# age의 값을 출력하시오
print(my_idol['age'])
# job의 값을 출력하시오
print(my_idol['job'])
# name의 값을 '수지'로 수정하시오
my_idol["name"]="수지"
print(my_idol)
# 'birth' 의 값을 '1994-07-07'로 추가하시오
my_idol['birth']='1994-07-07'
# 'manager'의 값을 'JYP'로 추가하시오
my_idol['manager']='JYP'
print(my_idol)

18
singer
{'name': '수지', 'age': 18, 'job': 'singer'}
{'name': '수지', 'age': 18, 'job': 'singer', 'birth': '1994-07-07', 'manager': 'JYP'}

In [35]:
my_idol = {'job': 'singer', 'age': 18, 'name': '수지', 'birth': '1994-10-10'}
print(my_idol)
print()

# 'birth' 항목 가져오고 삭제하기
my_idol.pop('birth')
print(my_idol)
#del my_idol['birth']

# 'age' 항목 삭제하기
my_idol.popitem()
print(my_idol)

# 임의의 항목 가져오면서 삭제하기
a = my_idol.popitem()
print(a)

# 사전 비우기
my_idol.clear()
print(my_idol)

# my_idol 사전 삭제하기
del my_idol
#print(my_idol) # 완전 삭제해서 출력하려고 하면 에러

{'job': 'singer', 'age': 18, 'name': '수지', 'birth': '1994-10-10'}

{'job': 'singer', 'age': 18, 'name': '수지'}
{'job': 'singer', 'age': 18}
('age', 18)
{}