#  2019.05.13  2일차

In [1]:
''' 여러 줄
주석은
따옴표
세 개를 찍으면
됩니다'''

' 여러 줄\n주석은\n따옴표\n세 개를 찍으면\n됩니다'

In [3]:
# 가변함수

a, *b=[2,3,4,5,6,7]

In [4]:
a

2

In [5]:
b

[3, 4, 5, 6, 7]

In [7]:
*c, d=[2,3,4,5,6,7]

In [8]:
c

[2, 3, 4, 5, 6]

In [9]:
d

7

가변함수는 몇 개의 인자값을 받을지 정해지지 않은 함수

In [23]:
#PASSWORD = 1234 / 비번 맞고 틀리고에 따라 다르게 나오도록

def passcode():
    password= 1234
    
    if int(input())== password:
        print('로그인 되었습니다')
    else:
        print('비밀번호가 틀렸습니다')

In [24]:
passcode()

1234
로그인 되었습니다

In [31]:
def compare():
    print('안녕하세요 비교연산자 입니다')
    
    x=input('x값')
    y=input('y값')
    
    if x>y:
        
        print('x가 y보다 큽니다')
        
    if x<y:
            
        print('y가 x보다 큽니다')
        
    if x==y:
        
        print('x와 y는 같습니다')

In [32]:
compare()

안녕하세요 비교연산자 입니다
x값10
y값11
y가 x보다 큽니다

In [37]:
def score():
    x=int(input('input your score'))
    
    if x>95:
        print('you are A')
    
    elif x>80:
        print('you are B')
        
    elif x>70:
        print('you are C')
        
    else:
        print('It is not score')

In [38]:
score()

input your score100
you are A

In [42]:
names ={'Mary':12,'Jane':25,'Tom':20}

#이름을 받고 names에 없으면 0000으로 names에 추가, 있으면 값을 출력하도록 한다

In [47]:
def friend():
    
    global names
    
    names ={'Mary':12,'Jane':25,'Tom':20}
    
    x=input('input your new friends!')
    
    if x in names:
        
        print(names[x])
        
    if x not in names:
        
        names[x]=0000

In [57]:
# 가위 바위보

import random

def RCP():
    
    global option
    
    option={'가위':3,'바위':1,'보':2}
    
    mine=input('가위바위보 시작~')
    
    x=random.choice(option)
    
    if option[mine]-x == 0:
        
        print('비겼네...')
        
    if option[mine]-x ==1:
        
        print('이겼네')
        
    if option[mine]-x ==2:
        
        print('졌다 ㅠㅠ')
        
    if option[mine]-x == -1:
        
        print('졌다 ㅠㅜㅜㅠ')
        
    if option[mine]-x == -2:
        
        print('이겨따')

In [59]:
RCP()

가위바위보 시작~가위

KeyError: 2

In [66]:
option={'가위':3,'바위':1,'보':2}

x=random.choice(option.values())

TypeError: 'dict_values' object is not subscriptable

In [78]:
# 1~10 합계
x=[]

for i in range(11):
    x.append(i)
print(sum(x))




y=0
z=[]

while y<=10:
    
    z.append(y)
    y+=1

print(sum(z))

55
55

In [86]:
list1='computational thinking'

split_list1=[]

list2=['a','e','i','o','u']

for i in range(len(list1)):
    
    if list1[i] in list2:
        
        split_list1.append(list1[i])

print(split_list1)

['o', 'u', 'a', 'i', 'o', 'a', 'i', 'i']

In [19]:
[x for x in range(10)]

[]

In [6]:
x=[0,1,2,3,4]
y=[5,6,7,8,9,10]
z=[]


for i in x:
    for l in y:
        
        z+=[(i,l)]
print(z)
 
print([(i,j) for i in x for j in y]) #list comprehension, 실제 현업에서 많이 씀

[(0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (0, 10), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10)]
[(0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (0, 10), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10)]

In [4]:
x=0
q=[]
while x<11:
    
    if x%2==0:
        q.append(x)
    x+=1
    
print(q)
    
[ x for x in range(10) if x%2 == 0 ]

[0, 2, 4, 6, 8, 10]

[0, 2, 4, 6, 8]

In [60]:
usage='Untitled1Last Checkpoint: 6시간 전(unsaved changes)'

A=usage.split()
    
B=[]
    
for i in A:
        
    B += (i.upper(), i.lower(), len(i))
    
print(B)

['UNTITLED1LAST', 'untitled1last', 13, 'CHECKPOINT:', 'checkpoint:', 11, '6시간', '6시간', 3, '전(UNSAVED', '전(unsaved', 9, 'CHANGES)', 'changes)', 8]

In [27]:
# 1에서 10까지의 숫자에서 for문과 continue와 break를 활용
a=[]
for i in range(1,11):
    
    if i>7:
        ss
        break
        
    if i >4:
        
        a.append(i)
        
print(a)

[5, 6, 7]

In [59]:
# 5과목의 점수의 평균을 계산, 5과목의 점수를 5번 받는다



total=0
count=1
x=[]
score=[]
    
while count <6:
        
    score= int(input('점수를 입력해주세요'))
        
    x.append(score)
        
    count+=1
        
print((sum(x)) /(len(x)))

점수를 입력해주세요10
점수를 입력해주세요20
점수를 입력해주세요30
점수를 입력해주세요40
점수를 입력해주세요50
30.0

In [38]:
num=int(input('Enter number: '))

result=1
x=num

while x>0:
    
    result= result*x
    
    x-=1
    
print(str(num)+"! is "+str(result))

Enter number: 45
45! is 119622220865480194561963161495657715064383733760000000000

In [62]:
num=int(input('Enter number: '))

result=1
x=num

for x in range(1,num+1):
    
    result*= x
    
    x-=1
    
print(str(num)+"! is "+str(result))

Enter number: 10
10! is 3628800

In [69]:
scope=[1,2,3,4,5]

[x for x in scope if x%2 ==1]

for i in scope:
    
    if i%2 == 0:
        
        continue
        
    print(i)

1
3
5

In [80]:

n=int(input())

while n <0:
    
    global x
    global y
    
    x=[]
    y=[]
    
    if n%2==0:
        
        x.append(n)
        
    else:
        
        y.append(n)
    
    n -= 1

comment="{0}(을)를 짝수와 홀수로 나누었을 때, 짝수의 총 합은{1}, 홀수의 총 합은{2}"

comment.format(n,sum(x),sum(y))

10

'10(을)를 짝수와 홀수로 나누었을 때, 짝수의 총 합은0, 홀수의 총 합은0'

In [81]:
L= [70,100,80,60,90]

nMin = nMax =L[0]

In [85]:
for x in range(1,10):
    
    for y in range(1,10):
        
        print('{}x{}={:>2}'.format(x, y, x*y),end=' ')
        
## 구구단 출력

1x1= 1 1x2= 2 1x3= 3 1x4= 4 1x5= 5 1x6= 6 1x7= 7 1x8= 8 1x9= 9 2x1= 2 2x2= 4 2x3= 6 2x4= 8 2x5=10 2x6=12 2x7=14 2x8=16 2x9=18 3x1= 3 3x2= 6 3x3= 9 3x4=12 3x5=15 3x6=18 3x7=21 3x8=24 3x9=27 4x1= 4 4x2= 8 4x3=12 4x4=16 4x5=20 4x6=24 4x7=28 4x8=32 4x9=36 5x1= 5 5x2=10 5x3=15 5x4=20 5x5=25 5x6=30 5x7=35 5x8=40 5x9=45 6x1= 6 6x2=12 6x3=18 6x4=24 6x5=30 6x6=36 6x7=42 6x8=48 6x9=54 7x1= 7 7x2=14 7x3=21 7x4=28 7x5=35 7x6=42 7x7=49 7x8=56 7x9=63 8x1= 8 8x2=16 8x3=24 8x4=32 8x5=40 8x6=48 8x7=56 8x8=64 8x9=72 9x1= 9 9x2=18 9x3=27 9x4=36 9x5=45 9x6=54 9x7=63 9x8=72 9x9=81

In [42]:
n= int(input('양의 정수'))

a=n

while n<0:
    
    if a%n ==0:
        
        dum.append(n)
        
        print(dum)
        
        n-=1
        
    elif a%n !=0 :
        
        n-=1

양의 정수410

In [18]:
n= int(input('양의 정수'))

양의 정수12

In [22]:
for i in range(10):
    
    print('{}'.format("*"*i))

*
**
***
****
*****
******
*******
********
*********

In [27]:
for i in range(10):
    
    print('{}'.format(("*"*(10-i))))

**********
*********
********
*******
******
*****
****
***
**
*

In [29]:
for i in range(10):
    
    print('{}'.format(("*"*(10-i)).rjust(10)))

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [31]:
for i in range(10):
    
    print('{}'.format(("*"*(10-i)).ljust(10)))

**********
*********
********
*******
******
*****
****
***
**
*

In [44]:
for i in range(1,10,2):
    
    print('{:^10}'.format(("*"*(i))))

    *
   ***
  *****
 *******
*********

### 시험 대비


Text1="python programming"

g를 출력하시오

pro를 출력하시오

gram이 포함되어있는지 확인하시오

모두 대문자로 바꾸세요

p자의 개수를 출력하세요

공백을 기준으로 분리하세요

-를 기준으로 두단어를 연결하세요

양쪽의 공백을 제거하세요

python을 hello로 바꾸세요

In [53]:
Text1=" python programming "

In [54]:
print(Text1[-2])

g

In [55]:
print(Text1[7:10])

 pr

In [56]:
'gram' in Text1

True

In [57]:
Text1.upper()

' PYTHON PROGRAMMING '

In [58]:
Text1.count('p')

2

In [59]:
Text1.split()

['python', 'programming']

In [60]:
"-".join(Text1.split())

'python-programming'

In [61]:
Text1.rstrip()    # Rstrip, lstrip 존재(오른쪽 공백제거, 왼쪽 공백제거)

' python programming'

In [62]:
Text1.lstrip()    # Rstrip, lstrip 존재(오른쪽 공백제거, 왼쪽 공백제거)

'python programming '

In [63]:
Text1.strip()    # Rstrip, lstrip 존재(오른쪽 공백제거, 왼쪽 공백제거)

'python programming'

In [64]:
Text1.replace("python","hello")

' hello programming '

In [65]:
## list

In [66]:
solarsys=['태양','수성','금성','지구','화성','목성','지구']
solarsys1=['토성','천왕성','해왕성']
planet='지구'

In [67]:
# solarsys에서 수성 금성 지구 를 출력

print(solarsys[1:4])

['수성', '금성', '지구']

In [68]:
# solarsys에서 지구의 위치값 출력

solarsys.index('지구')

3

In [69]:
# solarsys에서 화성을 해왕성으로 수정

solarsys[4]="해왕성"

print(solarsys)

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [70]:
#명왕성을 수성자리에 삽입

solarsys[1]+='명왕성'

print(solarsys)

['태양', '수성명왕성', '금성', '지구', '해왕성', '목성', '지구']

In [71]:
# 맨 끝에 토성 삽입

solarsys.append("토성")

print(solarsys)

['태양', '수성명왕성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [72]:
# 맨 끝 요소를 제거하고 리턴

solarsys.pop()

'토성'

In [73]:
# 금성 제거

solarsys.remove('금성')

print(solarsys)

['태양', '수성명왕성', '지구', '해왕성', '목성', '지구']

In [74]:
# solarsys에서 1번째 에서 3번째까지 삭제

del solarsys[1:4]

In [75]:
# 인덱스값이 2인 원소 제거

solarsys.pop(2)

'지구'

In [76]:
# solarsys 와 solarsys1 합치기

solarsys.extend(solarsys1)

solarsys

['태양', '목성', '토성', '천왕성', '해왕성']

In [77]:
#  오름차순 정렬

solarsys.sort()

print(solarsys)

['목성', '천왕성', '태양', '토성', '해왕성']

In [78]:
#내림차순 정렬
solarsys.sort(reverse=True)

print(solarsys)

['해왕성', '토성', '태양', '천왕성', '목성']

In [79]:
#인덱스값 반대로 하기
solarsys.reverse()

print(solarsys)

['목성', '천왕성', '태양', '토성', '해왕성']

In [80]:
# 만리장성이 원소에 있는지 확인

'만리장성' in solarsys

False

In [81]:
# 3번 반복

solarsys*3

['목성',
 '천왕성',
 '태양',
 '토성',
 '해왕성',
 '목성',
 '천왕성',
 '태양',
 '토성',
 '해왕성',
 '목성',
 '천왕성',
 '태양',
 '토성',
 '해왕성']

In [82]:
# solarsys 길이 리턴

len(solarsys)

5

In [83]:
#solarsys 에서 지구의 갯수 출력

solarsys.count('지구')

0

In [84]:
# 모든 원소 제거

solarsys.clear()

In [85]:
# 리스트 자체를 소거

del solarsys

### 딕셔너리

In [160]:
# 딕셔너리

mydict={}

type(mydict)

dict

In [161]:
# 요소 추가

mydict["red"]=1
mydict["blue"]=3
mydict["green"]=4

print(mydict)

{'red': 1, 'blue': 3, 'green': 4}

In [162]:
# Value 수정

mydict["green"]=7

print(mydict)

{'red': 1, 'blue': 3, 'green': 7}

In [163]:
# 인자 확인

'blue' in mydict

True

In [164]:
# 원소 길이 확보
len(mydict)

3

In [165]:
# 사전 복제

mydict2=mydict.copy()

print(mydict)

{'red': 1, 'blue': 3, 'green': 7}

In [166]:
# key값을 토대로 value 값 가져옴

mydict.get('red')

1

In [167]:
#사전의 키값만 가지고옴

type(list(mydict.keys()))

list

In [168]:
#사전의 벨류값만 가져옴
list(mydict.values())

[1, 3, 7]

In [169]:
#튜플 쌍으로 각 요소 출력

mydict.items()

dict_items([('red', 1), ('blue', 3), ('green', 7)])

In [170]:
# key black의 value 값을 출력하고 없으면 그대로 입력하는 것

mydict.setdefault('black',5)

5

In [173]:
# key 기준 정렬

sorted(mydict.items())

[('black', 5), ('blue', 3), ('green', 7), ('red', 1)]

In [129]:
# value 기준 정렬

sorted(mydict.items(),key=lambda x:x[1])

[('red', 1), ('blue', 3), ('black', 5), ('green', 7)]

In [130]:
# 키 blue 및 value 삭제

del mydict['blue']

print(mydict)

{'red': 1, 'green': 7, 'black': 5}

In [131]:
# blue의 key, value 삭제 및 value 값 도출
mydict.pop('blue')

KeyError: 'blue'

In [132]:
print(mydict)

{'red': 1, 'green': 7, 'black': 5}

In [133]:
mydict.clear()

print(mydict)

{}

In [134]:
del mydict